**/node_modules/
mobile/ios/build/
mobile/android/build
**/.sass-cache/

**/*.log
*.DS_Store

server/db/data/db/
server/db/data/db/*
server/db/data/db/*.wt
server/db/data/db/*.turtle

mobile/shared/*

desktop/renderer-bundle.js
