.format-toolbar {
  display: relative;
  flex-basis: content;
  position: relative;
  text-align: center;
  z-index: 1;
  background-color:  map-get($colors, superdark);;
  padding: 5px;
}

.hidden {
  display: none;
}

.format-toolbar a,
.fore-wrapper,
.back-wrapper {
  border: 1px solid #AAA;
  background: #FFF;
  border-radius: 1px;
  color: black;
  padding: 5px;
  width: 1.0em;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 2px 0px #CCC;
}

.format-toolbar a:hover{
  background: #f2f2f2;
  border-color: #8c8c8c;
  color: map-get($colors, secondary2);
}

.format-toolbar a:active{
  background: #f2f2f2;
  border-color: #8c8c8c;
  color: map-get($colors, secondary2);
  box-shadow: 0px 2px 0px #999;
  transform: translateY(1px);
}

a[data-command='insertOrderedList'],
a[data-command='outdent'],
a[data-command='blockquote'] {
  margin-right: 5px;
  border-radius: 0 3px 3px 0;
}

.fore-wrapper,
a[data-command='insertUnorderedList'],
a[data-command='indent'],
a[data-command='h1'] {
  border-radius: 3px 0 0 3px;
}

a {
  height: 1em;
  border-radius: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 1px;
  width: 0.2em;
  border: 1px solid #CCC;
}
