.toc-nav-show {
  position: relative;
  float: right;
  margin-top: 33px;
  margin-right: 33px;
  color: map-get($colors, primary2);
  z-index: 4;
}

.toc-nav-show:hover + .toc-nav{
  display: block;
}

.toc-nav-btns {
  margin-left: auto;
  margin-right: auto;
}

.toc-nav {
  display: none;
  position: fixed;
  box-sizing: border-box;
  top: 5%;
  left: 55%;
  width: 43%;
  height: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  resize: none;
  outline: none;
  color: map-get($colors, dark);
  background-color: map-get($colors, secondary1);
  font-size: 20px;
  z-index: 5;

  li {
    list-style: none;
  }

  ul {
    list-style: none;
  }
}

.toc-nav-content {
  max-height: 90%;
  overflow-y: auto;
  z-index: 5;
}

.toc-nav:hover {
  display: block;
}

.hidden {
  display: none;
}

.toc-li {
  color: map-get($colors, primary2);

  &:hover {
    color: map-get($colors, secondary2);
  }
}

.toc-li-h1 { 
  margin-left:0px;
}

.toc-li-h2 {
  margin-left:20px;
}

.toc-li-h3 {
  margin-left:40px;
}

.toc-li-h4 {
  margin-left:60px;
}

.toc-li-h5 {
  margin-left:80px;
}

.toc-li-h6 {
  margin-left:100px;
}

.toc-btn {
  color: map-get($colors, primary2);

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }

  &.hidden {
    display: none;
  }

  &:hover {
    color: map-get($colors, secondary2);
  }
}

