.toc-nav-show {
  position: relative;
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  color: map-get($colors, primary2);
  z-index: 4;
}

.toc-nav-show:hover + .toc-nav{
  display: block;
}

.toc-nav {
  display: none;
  position: relative;
  box-sizing: border-box;
  top: 3%;
  left: 55%;
  width: 43%;
  height: 30%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  resize: none;
  outline: none;
  font-size: 1.3em;
  color: map-get($colors, dark);
  background-color: map-get($colors, secondary1);
  font-weight: 300;
  overflow-y: scroll;
  z-index: 5;

  li {
    list-style: none;
  }

  ul {
    list-style: none;
  }
}

.toc-nav:hover {
  display: block;
}

.toc-li {
  color: map-get($colors, primary2);

  &:hover {
    color: map-get($colors, secondary2);
  }
}

.toc-li-1 { 
  margin-left:0px;
}

.toc-li-2 {
  margin-left:20px;
}

.toc-li-3 {
  margin-left:40px;
}

.toc-li-4 {
  margin-left:60px;
}

.toc-li-5 {
  margin-left:80px;
}

.toc-li-6 {
  margin-left:100px;
}

.toc-btn {
  color: map-get($colors, primary2);

  &:hover {
    color: map-get($colors, secondary2);
  }
}

