@import 'utils/all';

.markdown-input-editor {
  position: absolute;
  box-sizing: border-box;
  top: 3%;
  left: 1%;
  width: 48%;
  height: 96%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  resize: none;
  outline: none;
  color: map-get($colors, dark);
  background-color: map-get($colors, light);
  z-index: 1;
  -webkit-app-region: no-drag;

  ::-webkit-scrollbar-track
  {
    background-color: map-get($colors, light);
  }

}

.markdown-output-renderer {
  position: absolute;
  box-sizing: border-box;
  top: 3%;
  left: 50%;
  width: 48%;
  height: 96%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  resize: none;
  outline: none;
  color: map-get($colors, light);
  background-color: map-get($colors, dark);
  overflow-x: scroll;
  z-index: 1;
  -webkit-app-region: no-drag;

  ::-webkit-scrollbar-track
  {
    background-color: map-get($colors, dark);
  }

  ::-webkit-scrollbar-corner
  {
    background-color: map-get($colors, dark);
  }
}